[submodule "FerriteSup"]
	path = FerriteSup
	url = https://gitlab.inp.nsk.su/agerasev/ferrite-epics.git
[submodule "ferrite-rs"]
	path = ferrite-rs
	url = https://gitlab.inp.nsk.su/agerasev/ferrite-rs.git
